{% extends 'blog/base.html' %}

{% block col_class %}col-md-12{% endblock %}

{% block content %}
<div class="budget-header">
    <h1>Categorías</h1>
    <div class="budget-nav">
        <a href="{% url 'budget_dashboard' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span> Resumen
        </a>
        <a href="{% url 'transaction_list' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-list"></span> Transacciones
        </a>
        <a href="{% url 'category_list' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-tags"></span> Categorías
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'category_new' %}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Nueva Categoría
        </a>
        {% endif %}
    </div>
</div>
<hr>

{% if categories %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Total Transacciones</th>
            {% if user.is_authenticated %}
            <th>Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for cat in categories %}
        <tr>
            <td>
                <span class="glyphicon {{ cat.icon }}" style="color: {{ cat.color }};"></span>
                {{ cat.name }}
            </td>
            <td>{{ cat.description }}</td>
            <td>{{ cat.transactions.count }}</td>
            {% if user.is_authenticated %}
            <td>
                <a href="{% url 'category_edit' pk=cat.pk %}" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="{% url 'category_delete' pk=cat.pk %}" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-muted">No hay categorías registradas aún.</p>
{% endif %}
{% endblock %}
